{% extends "base.html" %}

{% block content %}
<p>Hi, Merry Christmas!! <br>
  I made this website as part of your present. I know it's not that cool looking because design really
  isn't my thing (I mean <i>really</i> isn't my thing). I am definitely
  more of a back-end developer which probably means nothing to you but whatever. Anyways
  I hope that you like this, I don't know I thought it could be cool. I wanted to make something
  just incase you missed me ;) Thank you for being you.
  Love you!<br>
  also p.s. this is always a work in progress so I can always change things and make it better I just wanted a good baseline to show you.
  <img src='https://lh3.googleusercontent.com/l9iIKgd7DM1FIoLeNjN4B6rTDESDyPbGhL1gZIFLveko93gTNoAyh4d3wohKYoBo_qLdGu0TadxXkFPORXAUKm0ovjR6Oq1JhGMjhL4KBviqpJmFp4dagmXbiNjZYeMxLMrIc9c0nGc=w2400'  width="30%" height="30%">

{% endblock %}
