{% extends "base.html" %}

{% block content %}
<p>Hi, Merry Christmas!! <br>
  I made this website as part of your present. It's not your whole present don't worry lol. Anyways
  I hope that you like this, I don't know I thought it could be cool. I wanted to make something
  just incase you missed me ;) Also I thought it could be cool to look at after college because it can
  be all our pics and videos and stuff in one place.
  Love you!<br>
  also p.s. this is always a work in progress so I can always change things and make it better I just wanted a good baseline to show you.
  Also I don't have that many videos of us and I'm still deciding how I want to organize them so that page is bad right now. Oh and I'm still working
  on the design hahahahahah I am sorry this is not as done as I wanted it to be.
  <img src='https://lh3.googleusercontent.com/l9iIKgd7DM1FIoLeNjN4B6rTDESDyPbGhL1gZIFLveko93gTNoAyh4d3wohKYoBo_qLdGu0TadxXkFPORXAUKm0ovjR6Oq1JhGMjhL4KBviqpJmFp4dagmXbiNjZYeMxLMrIc9c0nGc=w2400'  width="30%" height="30%">

{% endblock %}
