{% extends "base.html" %}

{% block content %}
<p>Jade,<br>
  You have helped me a lot more than I think you know. The beginning of this year
  was the first time since eighth grade that I had consistently eaten three
  normal sized meals in a day. I don't know what it is but I don't feel guilty
  eating when I'm with you which is something that I didn't think I would ever feel again.
  I don't know I guess somehow you made me feel like it was okay to eat. It's hard to explain lol.
  Becoming roommates with you was one of the best things to happen to me in awhile. I came into this year
  with not a lot of hope for the year. You introduced me to people from your sorority and
  take me along to things with you. If I hadn't met you I don't know who I would
  even be friends with. You are the person I always wished I could be. You are bubbly and kind to everyone
  despite being depressed which is so hard to do. I have a lot of respect for the way you go about things
  and I am lucky to have met you. Thank you for always being there for me because I feel like
  I might not have survived this year without you.<br>
  I love you,<br>
  Elena
{% endblock %}
