{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="column">
    <img src='https://lh3.googleusercontent.com/wJ9JiMQvQKK02-0uICuLUBjxsSxCahQaVALXPb2qJSRpFWT0QvkoKaUoXeOgUCNTGgsgEirwLQOeFE_bKv6pOG9n0ir5L3vxwDd6RdA6HVE5mII1XVi4FfWi-GRcFAwrJ_rXYkw2BMM=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/6SDLF4p_BAwtFM9I_6PNqE0by9TZzA3asX9kJZ1NaFkYt7WOFg8VWXUcD5YVw96CpGCfHfZWHBnK8U3mmn1ytFaQAlmW144p-0xWd-L9VpdLaf6X1CCWR6vakKj4m6EaYxsTme8WdhA=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/IaaBR9ChNPWi-ETIWYQN2Wwc9byCNnPG00c1Il0gQPildzBMSy8a7HSZBedm0Kuzr2AJ_0PX-u_P7vuPqKDDmd97-gMUdUfn-wjdZCKxHBfuvowQyYvjcZuJ-7DFYPAKQgtn4wtVFrU=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/yMIDOZP0NwsKz09ILnI_k_-RJl1_VRhtNMmTBzJZdEbXXNl9ZHXj31-K5xmg-fwN5X_f7gvG2uxxlKdfNMXrg1IKw4W-TBN3XtJxXBtFGtl3lJ3WsOQVD3HZaCDgwhy2isOO04U8AOY=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/Y7xEd62gEoyoFtlpWMdlZjlTEF2GRmDZWUXkaKiHFuWx31Leq8tJKEQzG7148hfh-Ifj5z1sKYMev23cY1O7SEyOBglARlg3aWCgoexBhTeBqisQik1j5WJqMRgyfx07In8IWilh0Qw=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/fiqLvt1NbmNosuKiFEkklssq46iTCFNvIXFe-4sD3Tu32Qxlc0NfkZ9R8woNCNzmTqmCD9j2QcvqXIKVDaLq539Xvc6frg7VXR61zjCAGDvjCwUyWuDKJV2kZZID9taghI-tK4801UM=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/kdJ5QjWZmYU54fJKcKjuLjQTMCRzPHSfaxpE4a0ejV1dTQGynGPntkPMokwKhrqhxciB251daqO_-j3snRmENbPW1j8wwtmaWnG4O6dnNJTbpdUA5dozENrojGBoq2fbZkDrJKQZudQ=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/3i8iA0n2jlFRNKriEjirizjRam5wqnV_tesCPdp9dz35gr53AwFwSoZNyKMPNurbuPGZMOFnSKVcZU6X0OlbZvQ5Ia05pB10pN43uDsxLMmjRYnQW6iso7jpZs8xtiZcpDscDDfveD8=w2400' style="width:100%">
  </div>
  <div class="column">
    <img src='https://lh3.googleusercontent.com/TWX-CVlx8V_casH8187ZJkje0taZahUOXY1jjBdyhq2v6htDhoc4aGYfxMKgSQksFqgLWVT-qmXOJPBRjFv1anCipnK0WE8HDulutvy4nDM2byUhMYmNdSmce3688wTz_7M1t23YDNM=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/Kg0tbtweFPROqY1iCJ1QuZmfiTx_7ef1gqKYc6VxABYWYNfQy0Lh97i2Y0Ir_wOgDqJ3eVZGrbltA-ys4ARqarqqnyZqFFHVk1Ci5_7_YvytZCjks-dPbrpC8m9Ck60nOv7yVdYLZdk=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/-WnX8nIoRZIOY5iY0rR8uwISXbAbsVjldtYL073bkYpaMEvaUJVWjb6KGLQzdIACOHyz84BohVyi6QdCD3PrZv-jdgEI3rBMlbJJE2oCXfhhZHba0y0hknrdSdI6wNKMmpqo7JvoYEQ=w2400'style="width:100%">
    <img src='https://lh3.googleusercontent.com/p56ofxe44_c2p1tuhsvRoJKLlHNQ1LSK0Ry2vSrZt_VFpg3T1kCrXIeIQBWdThN9tSv3EXQ09j_uY6yuuvXSbAjJWNLuT6tSi8ckhUqddzNbzCu8cV9mrrAZOjAT9TQQMNoF2-qm1z4=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/XYjA81wPPVj-uWXOdHjLuSuouhdlcGEhAq6BfeRYU8sAcW2o3iBjkIX1Gq_s3uGKjldx2vy4OF1K21kCZ1EjzWHRtHog9JaUdidymNQMtbn9lkNzK2N9ayKBZElF6mDSSXDWD13kRdY=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/pFNTeWNzlN5sE0B24PKZLRyE82s08Ka2w7qwCRG0-tDVAXVbRaqhEVh166zbEGhs0hZjhE0CCMEJKfxkcQalP-4MmDaIQmAWuXU92FjSmIc7-2YBRJQxqCKSkS744rTPPFsQf68nhTo=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/svCXyc-uWacb2t8DZq_oQRrG-79wsV2Vg8j2zp1G8vgQwAwIaU3ywDx1d3GIG8fDraY9MJQVXACUTw3JytxGHaJRxek_8uqDcgC8FGCoZ8GgFmajuGyROpy6eRANmIrH3M8PKbSl7JM=w2400'  style="width:100%">
  </div>
  <div class="column">
    <img src='https://lh3.googleusercontent.com/gpL12XLkR8BkYkHEBA_qG8Pp4nUO0ec59QWcd0--w-mkXnMpCb2NiDCrWgoq_csHs8ewhFZDNhVk5sntd3qBv38aacx1EjKgIvAMc1N2zwqTUbWPjeJXsrSeUNgws3AkZHHtkKBt77M=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/i1GeB8TdXA2U14T5jBCHmsoc5yak6208DdimmeSAVszCH6J3MzWQIFzudzsq0vIehy10iGlhqfsLdRHwNbZkBhuRo1hvkRIzQGOp39k849BD0LctF-HkRJYilKLx0N5sc_Q8ReoeuBk=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/S-KHFr8s2yYh2DXDxW6hcHTqZ90oxobN03jgViDvL0kBD8TCa3LsakOBsoYW-kafEX3sag-WZmMAdSPSdqE1hzYX6C5mwj9BRIkP_NDnbm9Jr5Eu_25K1a6q42kptjZqi6kpMBRaZ8g=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/cFYJzttn-OO6TjsZZIgM8x9s9RdnNtQvTq2VW_-oshHaKUIIJDOomkLD1rlGODSPP33jH8n5rco9n1tXYhAdWK89l8laKp8omTqOtfQZiNvuPvDDeeU8SzjaocOkzMdryfurvkf79_I=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/_LgZcZQGyS6Bx-KK3tybI5msq26FHjz1LWnJufCUtcaFnXWb1ZD1kCLcf9boIrv4UxZ7c42q9vFEh7LkpDNYAqEgVfYutU9_XGvR3IEIPRc31CKsJCnsAzDwUFz0fWz8WgKg21VhMs4=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/Q0ZKdAH-XNuV3k4qjaNR5X68nfa_9pAvUI8TPTr2thI3kOtGv1BqePwOEElaCrWnXuXuYxOIg0gInBH3vRcLbURwyeh9sutS8IWNm1zn73PbIC2PlfJwZnBKj9rpefI5u0AXMjJYC8c=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/Pa-NT3cFf4vRiIlKMnbYvkVVIp45ojqTEO8bIPGd82LfzE5KFqu8sKvQgRHTGkhzZOrypZDg9hjBHg-VTumbZrOXy8soSSWrkIJLvhfp3MRiQ-t1dWy0ZdVw-VrGmM61pcgGIB7voKA=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/CdXQ2OWMJ7OJi0R60yh9LmZ9Gq4Q7LpFaF3Ezbp8uvedVB8WFXJkIyoRj-B7FNXlfmHwQ76DgepaJKpNY-DnJM_sC90LjxTCSehUl3igf5pGFFMhabqsNWdJE-hQ9cx8mRfIvlDuF44=w2400'  style="width:100%">
  </div>
  <div class="column">
    <img src='https://lh3.googleusercontent.com/fMmWCsfVH6ZJVT9lNk_C_DDphSl6db3vVIX-fPsdhqz-OmiAV1oJ7VV45Xof50kjE2O6A2xsIcMcAsPqn6XXICFxKRTprm2qTMpfWj8RPk19BGYKdaZdurZSbnmko8UxxMwbStBHg3g=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/cZeecY-gDQkeuPiCL7pvTl_fSfGa715Yrciu-3Uwmy23dyenghBq9jBkmzJSvEJJny8BUwWII5eSKFcdLeefEJ2b87ehcHXzQ-Nr4lh9ruN-hvySOEHDgqvaM504B8TFtco_W_lnXmE=w2400' style="width:100%">
    <img src='https://lh3.googleusercontent.com/S3cGRWNMvd0zXemXPysizkcrubejr5GzobAEyXupZqjzzh8oDABCFcIYZWdDRDb3qSUuTFAi921ceJgv7ngzAjid_0PQoyC589_L9MhTwzbKakxiCSmwC-BsDEMbh8aE8c1bvqaAPsw=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/gUkhubyoqjietyi7abWE2Oi2sS1PCIiPjjReILjIIjYCmp9CwvMXMgAQb6N8x1vKi5MEaPlBQX_wAZh5nC6XlYmuXmkO87_q2G4yQDgyCzWitX2SIBLnd0E8HXQ6gZq7QdMKXZaJ-8M=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/UX6UGhhgT4jLuS0O0J_I67lxSUk5BP2lSzuvIakUvtwDca0dum7RVYuJYfDRCo2BZzSYTFu1eLvgoaKNkn4DpahqDde5trQyYzsTSKxXBWZQvhedgZD7ckGnz_LP6sDRTze1tVE0LYE=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/PqFfL9ty0Q8ZtxkgS-hlY8riWVFjaGYKheWe2RJ936zTBpNpWxWzSxbX14fN8c4p37WXYZ5OzeKyHO3JsUhlTnZZK-t5AnyEtxuJKGRHIFZ-Cg2HD-MabsgseG85Z_NsWjbQEdpGYdc=w2400'  style="width:100%">
    <img src='https://lh3.googleusercontent.com/4u9U-jKJLpJv42L5ZYo_u9ctSW3pVqm2IGRL_iqO-sG0KMleajvgc-7SeggXeQ-zKg6ZJTu5H5ysQ6W6GtHtHAxmp31JE8xRoIcvyEsHt8SNVJRH_AIzVkSvqR3JcEkR1rOzmUEQ8o0=w2400'  style="width:100%">
  </div>
</div>

<script>
  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");

  // Declare a loop variable
  var i;


  // Four images side by side
  function four() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "25%";  // IE10
      elements[i].style.flex = "25%";
    }
  }

  }
</script>

{% endblock %}
